<div class="container-fluid">
  <div class="row flex-xl-nowrap" style="height: 100vh">
    <div
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsed"
      [horizontal]="true"
      class="sidebar-container"
    >
      <app-sidebar class="sidebar"></app-sidebar>
    </div>

    <div class="col">
      <app-topbar
        class="row"
        [collapse]="collapse"
        [isCollapsed]="isCollapsed"
      ></app-topbar>
      <div class="row">
        <app-category/>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
